*.suo
*.exe
*.g.cs
*.fo
*/bin/*
*/obj/*
documentation/docbook.rng
documentation/html
documentation/pdf-letter
documentation/pdf-A4
documentation/bin/*
documentation/docbook/*
documentation/fop/*
documentation/html-docs
documentation/pdf-docs
documentation/jing/*

