<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="HamQSLer">
					<Component Id="HamqslerEXE" Guid="6CAA5943-D261-49A0-8585-F8752D374D94" DiskId="1">
						<File Id="hamqsler.exe" Name="hamqsler.exe" Source="..\hamqsler\bin\Release\hamqsler.exe" />
						<File Id="QslBureaus.dll" Name="QslBureaus.dll" Source="..\hamqsler\bin\Release\QslBureaus.dll" />
						<File Id="Qsos.dll" Name="Qsos.dll" Source="..\hamqsler\bin\Release\Qsos.dll" />
						<File Id="license.rtf" Name="license.rtf" Source="license.rtf" />
					</Component>
					<Directory Id="SamplesDir" Name="Samples">
						<Component Id="SampleFiles" Guid="ABBAD4A0-D63B-4015-96A8-3EF3C70B97C8" DiskId="1">
							<File Id="sample.adi" Name="sample.adi" Source="..\hamqsler\Samples\sample.adi" />
							<File Id="sample.jpg" Name="sample.jpg" Source="..\hamqsler\Samples\sample.jpg" />
						</Component>
					</Directory>
					<Directory Id="HelpDir" Name="help">
						<Directory Id="HtmlHelp" Name="html">
							<Component Id="HtmlHelp" Guid="D1FE8EEF-3062-4264-961F-7F3FAAC2996F" DiskId="1">
								<File Id="apa.html" Name="apa.html" Source="..\documentation\html-docs\apa.html" />
								<File Id="ch01.html" Name="ch01.html" Source="..\documentation\html-docs\ch01.html" />
								<File Id="ch01s02.html" Name="ch01s02.html" Source="..\documentation\html-docs\ch01s02.html" />
								<File Id="ch01s03.html" Name="ch01s03.html" Source="..\documentation\html-docs\ch01s03.html" />
								<File Id="ch02.html" Name="ch02.html" Source="..\documentation\html-docs\ch02.html" />
								<File Id="ch02s02.html" Name="ch02s02.html" Source="..\documentation\html-docs\ch02s02.html" />
								<File Id="ch02s03.html" Name="ch02s03.html" Source="..\documentation\html-docs\ch02s03.html" />
								<File Id="ch02s04.html" Name="ch02s04.html" Source="..\documentation\html-docs\ch02s04.html" />
								<File Id="ch02s04s02.html" Name="ch02s04s02.html" Source="..\documentation\html-docs\ch02s04s02.html" />
								<File Id="ch02s04s03.html" Name="ch02s04s03.html" Source="..\documentation\html-docs\ch02s04s03.html" />
								<File Id="ch02s04s04.html" Name="ch02s04s04.html" Source="..\documentation\html-docs\ch02s04s04.html" />
								<File Id="ch02s04s05.html" Name="ch02s04s05.html" Source="..\documentation\html-docs\ch02s04s05.html" />
								<File Id="ch02s05.html" Name="ch02s05.html" Source="..\documentation\html-docs\ch02s05.html" />
								<File Id="ch02s05s02.html" Name="ch02s05s02.html" Source="..\documentation\html-docs\ch02s05s02.html" />
								<File Id="ch02s05s03.html" Name="ch02s05s03.html" Source="..\documentation\html-docs\ch02s05s03.html" />
								<File Id="ch02s05s04.html" Name="ch02s05s04.html" Source="..\documentation\html-docs\ch02s05s04.html" />
								<File Id="ch02s05s05.html" Name="ch02s05s05.html" Source="..\documentation\html-docs\ch02s05s05.html" />
								<File Id="ch02s06.html" Name="ch02s06.html" Source="..\documentation\html-docs\ch02s06.html" />
								<File Id="ch02s06s02.html" Name="ch02s06s02.html" Source="..\documentation\html-docs\ch02s06s02.html" />
								<File Id="ch02s06s03.html" Name="ch02s06s03.html" Source="..\documentation\html-docs\ch02s06s03.html" />
								<File Id="ch02s06s04.html" Name="ch02s06s04.html" Source="..\documentation\html-docs\ch02s06s04.html" />
								<File Id="ch02s06s05.html" Name="ch02s06s05.html" Source="..\documentation\html-docs\ch02s06s05.html" />
								<File Id="ch02s06s06.html" Name="ch02s06s06.html" Source="..\documentation\html-docs\ch02s06s06.html" />
								<File Id="ch02s07.html" Name="ch02s07.html" Source="..\documentation\html-docs\ch02s07.html" />
								<File Id="ch02s07s02.html" Name="ch02s07s02.html" Source="..\documentation\html-docs\ch02s07s02.html" />
								<File Id="ch03.html" Name="ch03.html" Source="..\documentation\html-docs\ch03.html" />
								<File Id="ch04.html" Name="ch04.html" Source="..\documentation\html-docs\ch04.html" />
								<File Id="ch04s02.html" Name="ch04s02.html" Source="..\documentation\html-docs\ch04s02.html" />
								<File Id="ch04s03.html" Name="ch04s03.html" Source="..\documentation\html-docs\ch04s03.html" />
								<File Id="ch04s04.html" Name="ch04s04.html" Source="..\documentation\html-docs\ch04s04.html" />
								<File Id="ch04s05.html" Name="ch04s05.html" Source="..\documentation\html-docs\ch04s05.html" />
								<File Id="ch04s06.html" Name="ch04s06.html" Source="..\documentation\html-docs\ch04s06.html" />
								<File Id="ch05.html" Name="ch05.html" Source="..\documentation\html-docs\ch05.html" />
								<File Id="ch06.html" Name="ch06.html" Source="..\documentation\html-docs\ch06.html" />
								<File Id="ch07.html" Name="ch07.html" Source="..\documentation\html-docs\ch07.html" />
								<File Id="ch07s02.html" Name="ch07s02.html" Source="..\documentation\html-docs\ch07s02.html" />
								<File Id="ch07s03.html" Name="ch07s03.html" Source="..\documentation\html-docs\ch07s03.html" />
								<File Id="ch08.html" Name="ch08.html" Source="..\documentation\html-docs\ch08.html" />
								<File Id="index.html" Name="index.html" Source="..\documentation\html-docs\index.html" />
							</Component>
							<Directory Id="HtmlImages" Name="images">
								<Component Id="HelpImages" Guid="3B9EEF47-06D9-4B72-8343-512934A1522B" DiskId="1">
									<File Id="adifexistsmacro.png" Name="adifexistsmacro.png" Source="..\documentation\html-docs\images\adifexistsmacro.png" />
									<File Id="adifmacro.png" Name="adifmacro.png" Source="..\documentation\html-docs\images\adifmacro.png" />
									<File Id="backgroundimageoncard.png" Name="backgroundimageoncard.png" Source="..\documentation\html-docs\images\backgroundimageoncard.png" />
									<File Id="backgroundimageproperties.png" Name="backgroundimageproperties.png" Source="..\documentation\html-docs\images\backgroundimageproperties.png" />
									<File Id="bandproperties.png" Name="bandproperties.png" Source="..\documentation\html-docs\images\bandproperties.png" />
									<File Id="cardaftertextitemschanged.png" Name="cardaftertextitemschanged.png" Source="..\documentation\html-docs\images\cardaftertextitemschanged.png" />
									<File Id="cardopendialog.png" Name="cardopendialog.png" Source="..\documentation\html-docs\images\cardopendialog.png" />
									<File Id="cardpanel.png" Name="cardpanel.png" Source="..\documentation\html-docs\images\cardpanel.png" />
									<File Id="colorpicker.png" Name="colorpicker.png" Source="..\documentation\html-docs\images\colorpicker.png" />
									<File Id="countmacro.png" Name="countmacro.png" Source="..\documentation\html-docs\images\countmacro.png" />
									<File Id="datetimeproeprties.png" Name="datetimeproeprties.png" Source="..\documentation\html-docs\images\datetimeproeprties.png" />
									<File Id="defaultcallsign.png" Name="defaultcallsign.png" Source="..\documentation\html-docs\images\defaultcallsign.png" />
									<File Id="defaultnameQth.png" Name="defaultnameQth.png" Source="..\documentation\html-docs\images\defaultnameQth.png" />
									<File Id="defaultpagelayout.png" Name="defaultpagelayout.png" Source="..\documentation\html-docs\images\defaultpagelayout.png" />
									<File Id="defaultprinter.png" Name="defaultprinter.png" Source="..\documentation\html-docs\images\defaultprinter.png" />
									<File Id="defaultsalutation.png" Name="defaultsalutation.png" Source="..\documentation\html-docs\images\defaultsalutation.png" />
									<File Id="defaulttextfont.png" Name="defaulttextfont.png" Source="..\documentation\html-docs\images\defaulttextfont.png" />
									<File Id="fileopendialog.png" Name="fileopendialog.png" Source="..\documentation\html-docs\images\fileopendialog.png" />
									<File Id="firstsplashscreen.png" Name="firstsplashscreen.png" Source="..\documentation\html-docs\images\firstsplashscreen.png" />
									<File Id="macroscontextmenu.png" Name="macroscontextmenu.png" Source="..\documentation\html-docs\images\macroscontextmenu.png" />
									<File Id="mainwindow.png" Name="mainwindow.png" Source="..\documentation\html-docs\images\mainwindow.png" />
									<File Id="managerexistsmacro.png" Name="managerexistsmacro.png" Source="..\documentation\html-docs\images\managerexistsmacro.png" />
									<File Id="managermacro.png" Name="managermacro.png" Source="..\documentation\html-docs\images\managermacro.png" />
									<File Id="managermacroafter.png" Name="managermacroafter.png" Source="..\documentation\html-docs\images\managermacroafter.png" />
									<File Id="modeproperties.png" Name="modeproperties.png" Source="..\documentation\html-docs\images\modeproperties.png" />
									<File Id="movecursor.png" Name="movecursor.png" Source="..\documentation\html-docs\images\movecursor.png" />
									<File Id="nesw.png" Name="nesw.png" Source="..\documentation\html-docs\images\nesw.png" />
									<File Id="newcard.png" Name="newcard.png" Source="..\documentation\html-docs\images\newcard.png" />
									<File Id="nwse.png" Name="nwse.png" Source="..\documentation\html-docs\images\nwse.png" />
									<File Id="printdialog.png" Name="printdialog.png" Source="..\documentation\html-docs\images\printdialog.png" />
									<File Id="printpreview.png" Name="printpreview.png" Source="..\documentation\html-docs\images\printpreview.png" />
									<File Id="printsettingsdialog.png" Name="printsettingsdialog.png" Source="..\documentation\html-docs\images\printsettingsdialog.png" />
									<File Id="qslstatusproperties.png" Name="qslstatusproperties.png" Source="..\documentation\html-docs\images\qslstatusproperties.png" />
									<File Id="qsos.png" Name="qsos.png" Source="..\documentation\html-docs\images\qsos.png" />
									<File Id="qsosboxprops.png" Name="qsosboxprops.png" Source="..\documentation\html-docs\images\qsosboxprops.png" />
									<File Id="qsospropspanel.png" Name="qsospropspanel.png" Source="..\documentation\html-docs\images\qsospropspanel.png" />
									<File Id="salutationtextandmacros.png" Name="salutationtextandmacros.png" Source="..\documentation\html-docs\images\salutationtextandmacros.png" />
									<File Id="samplecard.png" Name="samplecard.png" Source="..\documentation\html-docs\images\samplecard.png" />
									<File Id="sampleqsosloaded.png" Name="sampleqsosloaded.png" Source="..\documentation\html-docs\images\sampleqsosloaded.png" />
									<File Id="savecarddialog.png" Name="savecarddialog.png" Source="..\documentation\html-docs\images\savecarddialog.png" />
									<File Id="selectcontextmenu.png" Name="selectcontextmenu.png" Source="..\documentation\html-docs\images\selectcontextmenu.png" />
									<File Id="selectmenu.png" Name="selectmenu.png" Source="..\documentation\html-docs\images\selectmenu.png" />
									<File Id="statictextonly.png" Name="statictextonly.png" Source="..\documentation\html-docs\images\statictextonly.png" />
									<File Id="textitemproperties.png" Name="textitemproperties.png" Source="..\documentation\html-docs\images\textitemproperties.png" />
									<File Id="textonlymacrosdialog.png" Name="textonlymacrosdialog.png" Source="..\documentation\html-docs\images\textonlymacrosdialog.png" />
									<File Id="updown.png" Name="updown.png" Source="..\documentation\html-docs\images\updown.png" />
									<File Id="userprefsdialog.png" Name="userprefsdialog.png" Source="..\documentation\html-docs\images\userprefsdialog.png" />
								</Component>
							</Directory>
						</Directory>
						<Directory Id="PDFDir" Name="pdf">
							<Component Id="PdfHelp" Guid="67457C0A-9BBD-454E-93B6-C6B10F8AF59D" DiskId="1">
								<File Id="hamqsler_A4.pdf" Name="hamqlser-A4.pdf" Source="..\documentation\pdf-docs\hamqsler-A4.pdf" />
								<File Id="hamqsler_letter.pdf" Name="hamqsler-letter.pdf" Source="..\documentation\pdf-docs\hamqsler-letter.pdf" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="HamQSLer">
					<Component Id="HamQSLerShortcuts" Guid="00AAF0E8-FB8F-4B5F-8B4A-D41A4DC84F2E">
						<Shortcut Id="HamQSLerShortcut" Name="HamQSLer" Description="Program to design and print QSL cards" Target="[INSTALLDIR]hamqsler.exe" WorkingDirectory="INSTALLDIR" Icon="HamQSLerIcon" />
						<Shortcut Id="HelpPdfA4" Name="PDF Help (A4)" Description="PDF Help in A4 page size" Target="[INSTALLDIR]help\pdf\hamqsler-A4.pdf" WorkingDirectory="INSTALLDIR" />
						<Shortcut Id="HelpPdfLetter" Name="PDF Help (Letter)" Description="PDF Help in USLetter page size" Target="[INSTALLDIR]help\pdf\hamqsler-letter.pdf" WorkingDirectory="INSTALLDIR" />
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\Microsoft\HamQSLer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>