<!--
   Author:
        Jim Orcheson <jimorcheson@gmail.com>
  
   Copyright © 2013 Jim Orcheson
  
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
  
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
  
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="APPLICATIONFOLDER" Name="HamQSLer">
					<Component Id="HamqslerEXE" Guid="6CAA5943-D261-49A0-8585-F8752D374D94" DiskId="1">
						<File Id="hamqsler.exe" Name="hamqsler.exe" Source="..\hamqsler\bin\Release\hamqsler.exe">
						</File>
						<File Id="license.rtf" Name="license.rtf" Source="license.rtf" />
					</Component>
					<Directory Id="SamplesDir" Name="Samples">
						<Component Id="SampleFiles" Guid="ABBAD4A0-D63B-4015-96A8-3EF3C70B97C8" DiskId="1">
							<File Id="sample2.adi" Name="sampl2e.adi" Source="..\hamqsler\Samples\sample2.adi" />
							<File Id="sample.jpg" Name="sample.jpg" Source="..\hamqsler\Samples\sample.jpg" />
						</Component>
					</Directory>
					<Directory Id="HelpDir" Name="help">
						<Directory Id="PDFDir" Name="pdf">
							<Component Id="A4" Guid="67457C0A-9BBD-454E-93B6-C6B10F8AF59D" DiskId="1">
								<File Id="hamqsler_A4.pdf" Name="hamqsler-A4.pdf" Source="..\documentation\pdf-docs\hamqsler-A4.pdf" />
							</Component>
							<Component Id="Letter" Guid="EC219F19-DFE0-4274-8D1B-0F45429689EC">
								<File Id="hamqsler_letter.pdf" Name="hamqsler-letter.pdf" Source="..\documentation\pdf-docs\hamqsler-letter.pdf" />
							</Component>
						</Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="WIX_DIR_COMMON_DOCUMENTS" Name="CommonDocumentsFolder">
	            <Directory Id="HamQSLer" Name="HamQSLer">
	                <Component Id="ConfigurationFiles" Guid="AE99046C-9C5D-4420-A625-C4AAD7065E88"  >
	                    <RemoveFolder Id="HamQSLer" On="uninstall" />  
	                    <CreateFolder />
						<File Id="AdifEnumerations.xml" Name="AdifEnumerations.xml" Source="..\hamqsler\AdifEnumerations.xml" />
						<File Id="CallsBureaus.xml" Name="CallsBureaus.xml" Source="..\hamqsler\CallsBureaus.xml" />
	                </Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="HamQSLer">
					<Component Id="HamQSLerShortcut" Guid="00AAF0E8-FB8F-4B5F-8B4A-D41A4DC84F2E">
						<Shortcut Id="HamQSLerShortcut" Name="HamQSLer" Description="Program to design and print QSL cards" Target="[APPLICATIONFOLDER]hamqsler.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="HamQSLerIcon.exe"/>
						<Shortcut Id="UninstallHamQSLer" Name="Uninstall HamQSLer" Target="[SysstemFolder]msiexec.exe" Arguments="/x [ProductCode]" Description="Uninstalls HamQSLer"/>
						<RegistryValue Root="HKCU" Key="Software\Microsoft\HamQSLer" Name="installed" Type="integer" Value="1" KeyPath="yes" />
						<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
					</Component>
					<Component Id="A4HelpShortCut" Guid="7CFDD091-46FD-4EEA-84B0-1352FFBC7841">
						<Shortcut Id="HelpPdfA4" Name="PDF Help (A4)" Description="PDF Help in A4 page size" Target="[APPLICATIONFOLDER]help\pdf\hamqsler-A4.pdf" WorkingDirectory="APPLICATIONFOLDER" />
						<RegistryValue Root="HKCU" Key="Software\Microsoft\HamQSLerA4Manual" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
					<Component Id="LetterHelpShortCut" Guid="8A01ED16-2275-47B7-A001-B57CB87D290A">
						<Shortcut Id="HelpPdfLetter" Name="PDF Help (Letter)" Description="PDF Help in USLetter page size" Target="[APPLICATIONFOLDER]help\pdf\hamqsler-letter.pdf" WorkingDirectory="APPLICATIONFOLDER" />
						<RegistryValue Root="HKCU" Key="Software\Microsoft\HamQSLerLetterManual" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder">
				<Component Id="DesktopShortCut" Guid="24F6722E-C625-4B29-AE14-91F6911AA9E9">
					<Shortcut Id="DesktopShortCut" Name="HamQSLer" Description="Program to design and print QSL cards" Target="[APPLICATIONFOLDER]hamqsler.exe" WorkingDirectory="APPLICATIONFOLDER" Icon="HamQSLerIcon.exe"/>
					<RegistryValue Root="HKCU" Key="Software\Microsoft\HamQSLerDesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
				</Component>
			</Directory>
		</Directory>		
	</Fragment>
</Wix>