<?xml version="1.0"?>
<!--
   Author:
        Jim Orcheson <jimorcheson@gmail.com>
  
   Copyright © 2013 Jim Orcheson
  
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
  
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
  
   You should have received a copy of the GNU General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!-- 517B6027-C8A2-4860-9228-96D16B8F7786 -->
	<Product Id="0819C403-E13C-4A39-AB5A-BAF68143D6D2"
		Name="HamQSLer"
		Language="1033"
		Version="1.2.2"
		UpgradeCode="B4FB1901-CFD5-4CDD-B80F-DECBCE9717B7"
		Manufacturer="VA3HJ Software">
		<Package Description="HamQSLer Installer Package"
			InstallerVersion="300"
			Compressed="yes"/>
		<Upgrade Id="B4FB1901-CFD5-4CDD-B80F-DECBCE9717B7">
			<UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND"
					Minimum="0.1.0" IncludeMinimum="yes"
					Maximum="1.2.2" IncludeMaximum="no" />
		</Upgrade>
		<CustomAction Id='NoDowngrade' Error='A later version of HamQSLer is already installed.' />
		
		<InstallExecuteSequence>
			<Custom Action='NoDowngrade' After='FindRelatedProducts'>NEWERFOUND</Custom>
    		<RemoveExistingProducts After="InstallInitialize"/>
		</InstallExecuteSequence>
		<!--Windows version must be Windows XP or later.-->
		<Condition Message="This application is only supported on Windows XP, Windows Server 2003, or higher.">
      		VersionNT &gt;= 501
		</Condition>
		<!--Must be administrator to install-->
		<Condition Message="You need to be an administator to install this product">
			Privileged
		</Condition>
		<!--Need .Net 4.0 or later-->
		<PropertyRef Id="NETFRAMEWORK40CLIENT" />
		<Condition Message="This application requires .NET Framework 4.0. Please install Microsoft .NET 4.0, then run this installer again.">
 			(NETFRAMEWORK40CLIENT)
		</Condition>
		<Icon Id="HamQSLerIcon.exe" SourceFile="..\hamqsler\hamqsler.ico" />
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Feature Id="HamQSLer"
		         Title="HamQSLer Executable"
		         Description="HamQSLer Executables"
		         Level="1">
			<ComponentRef Id="HamqslerEXE"/>
			<ComponentRef Id="SampleFiles"/>
			<ComponentRef Id="HamQSLerShortcut"/>
		</Feature>
		<Feature Id="A4"
				 Title="User Manual - A4"
				 Description="A4-sized User Manual"
				 Level="1">
			<ComponentRef Id="A4"/>
			<ComponentRef Id="A4HelpShortCut"/>
		</Feature>
		<Feature Id="Letter"
				 Title="User Manual - US Letter"
				 Description="US Letter-sized User Manual"
				 Level="1">
			<ComponentRef Id="Letter"/>
			<ComponentRef Id="LetterHelpShortCut"/>
		</Feature>
		<Feature Id="DesktopShortCut"
				 Title="Desktop Shortcut"
				 Description="Shortcut to HamQSLer program on desktop"
				 Level="1">
			<ComponentRef Id="DesktopShortCut"/>
		</Feature>
		
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch HamQSLer" />
		<Property Id="WixShellExecTarget" Value="[#hamqsler.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		<!--
 			Using the Wix UI library.

			WixUI_Minimal is the most basic of the WixUI stock dialog sets.
 			Its sole dialog combines the welcome and license-agreement 
			dialogs and omits the feature customization dialog. 
			WixUI_Minimal is appropriate when your product has no optional 
			features.
 		-->
		<UIRef Id="WixUI_FeatureTree" />
		<UI>
			<Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>
	</Product>
</Wix>
